/* * ====Color Variables==== */
:root {
    --dodgerBlue: #4078ff;
    --blackPearl: #0e1422;
    --dark: #202533;
    --greenWhite: #e9e9eb;
    --laSalleGreen: #057234;
    --chiliPepper: #be1313;
    --yellowOrange: #f3b40a;
    --white: #ffffff;
    --whiteSmoke: #f6f6f6;
    --grayCloud: #b6b7bc;
    --lightRoyalBlue: #4a3aff;
    --porcelain: #eff0f6;
    --mercury: #e6e7e8;
    --softPeach: #eeeeee;
  }


.breadCrumb {
    margin-top: 2rem;
    /* background-color: red; */
    /* height: 2rem; */
  }
  
  .breadCrumb__wrapper {
    /* height: 2rem; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    border: 2px solid var(--blackPearl);
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  }
  
  .breadCrumb_item {
    font-size: 1.2rem;
    font-family: "iranSans-medium", Courier, monospace;
  }
  .breadCrumb_item-link {
    color: var(--dark);
    display: flex;
    align-items: center;
  }
  .breadCrumb_item-link:hover .breadCrumb__icon-svg {
    transform: scale(1.2);
  }
  
  .breadCrumb__icon {
  }
  
  .breadCrumb__icon-svg {
    width: 1.4rem;
    height: 1.4rem;
    stroke: var(--dark);
    margin-right: 0.4rem;
    transition: all 120ms ease-in;
  }
  