/* * Font Faces */
@font-face {
    font-family: 'iranSans-light';
    src: url('../fonts/iranSans/IRANSansX-Light.ttf');
}
@font-face {
    font-family: 'iranSans-medium';
    src: url('../fonts/iranSans/IRANSansX-Medium.ttf');
}
@font-face {
    font-family: 'iranSans-bold';
    src: url('../fonts/iranSans/IRANSansX-Bold.ttf');
}
@font-face {
    font-family: 'lamia';
    src: url('../fonts/A-Lamia.ttf');
}