/* * ==== CSS Module Import==== */
@import "./reset.css";
@import "./fonts.css";
@import "./header.css";

/* * ====Color Variables==== */
:root {
  --dodgerBlue: #4078ff;
  --blackPearl: #0e1422;
  --dark: #202533;
  --greenWhite: #e9e9eb;
  --laSalleGreen: #057234;
  --chiliPepper: #be1313;
  --yellowOrange: #f3b40a;
  --white: #ffffff;
  --whiteSmoke: #f6f6f6;
  --grayCloud: #b6b7bc;
  --lightRoyalBlue: #4a3aff;
  --porcelain: #eff0f6;
  --mercury: #e6e7e8;
  --softPeach: #eeeeee;
}
.icons {
  display: none;
}
body {
  font-family: "iranSans-light", Courier, monospace;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

/* * ====Button Component==== */
.btn {
  width: 12rem;
  height: 4rem;
  border: none;
  outline: none;
  color: var(--white);
  border-radius: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  font-family: "iranSans-light", Courier, monospace;
}

.btn-black {
  background-color: var(--blackPearl);
}

.btn-dark {
  background-color: var(--dark);
}

.btn-white {
  background-color: var(--white);
  color: var(--blackPearl);
  border: 2px solid var(--grayCloud);
}

/* * ====Tag Products==== */
.tag {
  width: 6rem;
  padding: 0.5rem;
  border-radius: 1rem;
  height: 2rem;
  border: 1px solid var(--grayCloud);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.2rem;
  font-weight: bold;
}

.tag-close {
  width: 2rem;
  height: 2rem;
  transition: all 140ms ease-in;
}
.tag-close:hover {
  fill: red;
  color: red;
}

/* *==== Input Styles==== */
.input {
  display: block;
  height: 3.2rem;
  width: 20rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid var(--grayCloud);
  outline: none;
  font-family: "iranSans-light", Courier, monospace;
  color: var(--blackPearl);
}

.input-danger {
  border: 2px solid var(--chiliPepper);
}

/* *====TextArea Styles */
.textarea {
  display: block;
  margin: 0 auto;
  margin-top: 4rem;
  width: 20rem;
  height: 10rem;
  resize: none;
  outline: none;
  border: 2px solid var(--grayCloud);
  border-radius: 0.5rem;
  padding: 1rem;
  font-family: "iranSans-light", Courier, monospace;
  color: var(--blackPearl);
}
.textarea::placeholder {
  color: var(--blackPearl);
}

/* ! ////////////////// Main Section ////////////////// */

/* ! //////// Landing Section //////// */
.landing {
  height: 30rem;
  background-color: var(--whiteSmoke);
  margin-bottom:10rem;

}
.landing__wrapper {
  height: 100%;
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.landing__right {
  width: 50%;
}

.landing__left-title {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  font-family: "lamia", Courier, monospace;
}

.landing__left-icon {
  width: 6rem;
  height: 6rem;
  margin-right: 0.5rem;
  animation: vibrate 2s linear infinite;
  transform: rotate(-10deg);
}

@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

.landing__left-text {
  font-size: 1.2rem;
  font-family: "iranSans-medium", Courier, monospace;
  margin-top: 1rem;
}

.landing__left__btn {
  /* padding: 1rem; */
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 14rem;
}
.landing__left__btn:hover .landing__left__btn-icon {
  transform: translateX(-10px);
}
.landing__left__btn-icon {
  width: 2.8rem;
  height: 2.8rem;
  transition: all 120ms ease-in;
  stroke: var(--white);
}

.landing__left {
  /* position: relative; */
  height: 100%;
  width: 50%;
}

.landing__left-shape {
  width: 25rem;
  height: 25rem;
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
}

.landing__left-image {
  position: absolute;
  width: 20rem;
  bottom: 0;
  left: 0;
  z-index: 12;
}

/* ! //////// Feature Section //////// */
.feature {
  margin-bottom:10rem;
  /* width: 100%; */
}
.feature__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.feature__item {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: all 120ms ease-in;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 0 auto;
}
.owl-item {
  width: 100%;
}

.feature__item:hover {
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.feature__item-icon {
  width: 2rem;
  height: 2rem;
}

.feature__item-title {
  font-family: "iranSans-bold", Courier, monospace;
  margin-top: 1rem;
}

.feature__item-text {
  margin-top: 1rem;
  line-height: 1.4rem;
}

/* ! //////// Best Sell Section //////// */
.best-sell {
  margin-bottom: 4rem;
}
.best-sell__title {
  font-size: 2rem;
  font-family: "iranSans-bold", Courier, monospace;
  text-align: center;
  margin-top: 2rem;
}

.best-sell__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  margin-top: 2rem;
  direction: ltr;
}

.product {
  width: 256px;
  height: 434px;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.product__top {
  height: 70%;
  background-color: var(--whiteSmoke);
}

.product-image {
  width: 100%;
}

.product__bottom {
  height: 30%;
}

.product__bottom-title {
  display: block;
  font-family: "iranSans-light", Courier, monospace;
  margin-top: 2rem;
  text-align: right;
}

.product__bottom__infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.product__bottom__infos-price {
  font-family: "iranSans-bold", Courier, monospace;
}

.product__bottom__infos-stock {
  border-radius: 1rem;
  border: 2px solid var(--whiteSmoke);
  padding: 0.5rem 1rem;
  font-family: "iranSans-bold", Courier, monospace;
}

/* * Owl Slider  */

.owl-theme .owl-dots .owl-dot span {
  width: 15px; 
  height: 15px; 
  background: var(--whiteSmoke);
  border-radius: 0;
}
.owl-theme .owl-dots .owl-dot.active span {
  background: var(--dark);
}
