/* * ==== CSS Module Import==== */
@import "./reset.css";
@import "./fonts.css";

/* * ====Color Variables==== */

:root {
  --dodgerBlue: #4078ff;
  --blackPearl: #0e1422;
  --dark: #202533;
  --greenWhite: #e9e9eb;
  --laSalleGreen: #057234;
  --chiliPepper: #be1313;
  --yellowOrange: #f3b40a;
  --white: #ffffff;
  --whiteSmoke: #f6f6f6;
  --grayCloud: #b6b7bc;
}
.icons{
    display: none;
}

h1 {
  font-family: "diplomat", Courier, monospace;
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
}

