/* * ==== CSS Module Import==== */
@import "./reset.css";
@import "./fonts.css";
@import "./header.css";
@import "./footer.css";


/* * ====Color Variables==== */
:root {
  --dodgerBlue: #4078ff;
  --blackPearl: #0e1422;
  --dark: #202533;
  --greenWhite: #e9e9eb;
  --laSalleGreen: #057234;
  --chiliPepper: #be1313;
  --yellowOrange: #f3b40a;
  --white: #ffffff;
  --whiteSmoke: #f6f6f6;
  --grayCloud: #b6b7bc;
  --lightRoyalBlue: #4a3aff;
  --porcelain: #eff0f6;
  --mercury: #e6e7e8;
  --softPeach: #eeeeee;
}
.icons {
  display: none;
}
body {
  font-family: "iranSans-light", Courier, monospace;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
/* * ====Button Component==== */
.btn {
  width: 12rem;
  height: 4rem;
  border: none;
  outline: none;
  color: var(--white);
  border-radius: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  font-family: "iranSans-light", Courier, monospace;
  transition: all 120ms ease-in;
}
.btn:hover {
  background-color: var(--dodgerBlue);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.btn-black {
  background-color: var(--blackPearl);
}

.btn-dark {
  background-color: var(--dark);
}

.btn-white {
  background-color: var(--white);
  color: var(--blackPearl);
  border: 2px solid var(--grayCloud);
}
/* * ====Tag Products==== */
.tag {
  width: 6rem;
  padding: 0.5rem;
  border-radius: 1rem;
  height: 2rem;
  border: 1px solid var(--grayCloud);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.2rem;
  font-weight: bold;
}
.tag-close {
  width: 2rem;
  height: 2rem;
  transition: all 140ms ease-in;
}
.tag-close:hover {
  fill: red;
  color: red;
}
/* *==== Input Styles==== */
.input {
  display: block;
  height: 3.2rem;
  width: 20rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid var(--grayCloud);
  outline: none;
  font-family: "iranSans-light", Courier, monospace;
  color: var(--blackPearl);
}
.input-danger {
  border: 2px solid var(--chiliPepper);
}
/* *====TextArea Styles */
.textarea {
  display: block;
  margin: 0 auto;
  margin-top: 4rem;
  width: 20rem;
  height: 10rem;
  resize: none;
  outline: none;
  border: 2px solid var(--grayCloud);
  border-radius: 0.5rem;
  padding: 1rem;
  font-family: "iranSans-light", Courier, monospace;
  color: var(--blackPearl);
}
.textarea::placeholder {
  color: var(--blackPearl);
}

/* * ////////////////// Main Section ////////////////// */
/* ! //////// Landing Section //////// */

.breadCrumb {
  margin-top: 2rem;
  /* background-color: red; */
  /* height: 2rem; */
}

.breadCrumb__wrapper {
  /* height: 2rem; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  border: 2px solid var(--blackPearl);
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.breadCrumb_item {
  font-size: 1.2rem;
  font-family: "iranSans-medium", Courier, monospace;
}
.breadCrumb_item-link {
  color: var(--dark);
  display: flex;
  align-items: center;
}
.breadCrumb_item-link:hover .breadCrumb__icon-svg {
  transform: scale(1.2);
}

.breadCrumb__icon {
}

.breadCrumb__icon-svg {
  width: 1.4rem;
  height: 1.4rem;
  stroke: var(--dark);
  margin-right: 0.4rem;
  transition: all 120ms ease-in;
}

/* ! //////// Product Section //////// */

.product {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.product__wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.product__right {
  width: 45%;
  height: 100%;
  border-radius: 1rem;
}

.product__right__images {
  direction: ltr;
  height: 100%;
  /* background-color: var(--grayCloud); */
}
/* .owl-stage-outer {
  width: 100%;
} */

/* .owl-stage {
  width: 100%;
} */

.owl-item-image {
  width: 100%;
  height: 100%;
}

.owl-item {
  width: 100%;
  height: 100%;
  background-color: var(--whiteSmoke);
}

/* ! Product Left */
.product__left {
  width: 45%;
  /* background-color: red; */
}

.product__left__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  font-family: "iranSans-bold", Courier, monospace;
  /* padding: 0.5rem; */
}

.product__left__title-icon {
  width: 2rem;
  height: 2rem;
  fill: var(--blackPearl);
  cursor: pointer;
}

.product__left__reviews {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}
.product__left__reviews-box {
  background-color: var(--whiteSmoke);
  display: flex;
  align-items: center;
  padding: 0.2rem;
  border-radius: 1rem;
  font-family: "iranSans-bold", Courier, monospace;
}

.product__left__reviews-icon {
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 0.5rem;
}

.product__left__reviews-stock {
  border: 2px solid var(--whiteSmoke);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.product__left-price {
  display: block;
  font-size: 1.5rem;
  font-family: "iranSans-bold", Courier, monospace;
  margin-top: 2rem;
}

.product__left__colors-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.product__left__colors-available {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  margin-top: 2rem;
}
.product__left__colors-box span {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--lightRoyalBlue);
}

.product__left__size {
  margin-top: 2rem;
}

.product__left__size-title {
  font-size: 1.2rem;
}

.product__left__size-box {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.product__left__size-box span {
  padding: 1rem;
  border: 2px solid var(--grayCloud);
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  cursor: pointer;
}

.product__left__quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--grayCloud);
  width: 14rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
}

.product__left__quantity button {
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
}
.product__left__quantity button svg {
  width: 2rem;
  height: 2rem;
  stroke: red;
}

.product__left__quantity-input {
  height: 4rem;
  width: 4rem;
  border: none;
  font-size: 1.2rem;
  text-align: center;
}

.product__left-add {
  display: flex;
  flex-direction: column;
}
.product__left-add-btn {
  width: 14rem;
  margin-top: 2rem;
}

.product__left-free {
  font-size: 1.2rem;
  margin-top: 1rem;
  font-family: "iranSans-bold", Courier, monospace;
  display: flex;
  align-items: center;
}
.product__left-free-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

/* * Owl Slider  */
.owl-theme .owl-dots .owl-dot span {
  width: 15px;
  height: 15px;
  background: var(--whiteSmoke);
  border-radius: 0;
}
.owl-theme .owl-dots .owl-dot.active span {
  background: var(--dark);
}

/* ! //////// Detail-Reviews Section //////// */
.detail-reviews {
  margin-bottom: 4rem;
}

.detail-reviews__wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.detail-reviews__right {
  width: 80%;
  padding-right: 2rem;
}

.detail-reviews__left {
  width: 20%;
}

.tab {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.tab button {
  padding: 1rem;
  margin-bottom: 1rem;
  border: none;
  outline: none;
  background: none;
  /* background-color: var(--softPeach); */
  font-family: "iranSans-bold", Courier, monospace;

  cursor: pointer;
  transition: all 120ms ease-in;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tab button:hover {
  background-color: var(--dodgerBlue);
  color: var(--white);
  border-color: var(--white);
}

.tabcontent:nth-child(2) {
  display: none;
}
.tab-active {
  background: var(--chiliPepper);
  color: var(--blackPearl);
  border: 4px solid var(--dark);
  color: var(--dodgerBlue);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.detail-reviews__right-title {
  font-size: 2rem;
  font-family: "lamia", Courier, monospace;
}

.detail-reviews__right-text {
  line-height: 1.4rem;
  margin-top: 1rem;
  text-align: justify;
  font-family: "iranSans-light", Courier, monospace;
  padding: 1.2rem;
}

.detail-reviews__right__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.detail-reviews__right__list-item {
  list-style-type: circle;
  transition: all 120ms ease-in;
  text-align: right;
}
.detail-reviews__right__list-item:hover {
  transform: scale(1.02);
}
.tablinks-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.reviwes__boxes {
  display: flex;
  flex-direction: column;
}

.reviwes__box {
  display: flex;
  justify-content: space-between;
  border: 2px solid var(--blackPearl);
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 1rem;
}

.reviwes__box__left-star {
  width: 1.2rem;
  height: 1.2rem;
}

.reviwes__write-title {
  font-size: 2rem;
  font-family: "lamia", Courier, monospace;
}

.reviwes__write-number {
  margin-top: 1rem;
  font-family: "iranSans-bold", Courier, monospace;
}

.reviwes__write-number-span {
  font-size: 4rem;
  font-family: "iranSans-bold", Courier, monospace;
}

.reviwes__write-btn {
  background: none;
  color: var(--dark);
  border: 2px solid var(--dark);
  margin-top: 2rem;
}

.reviwes__boxes {
  margin-top: 2.2rem;
}

.reviwes__box__right {
  display: flex;
  flex-direction: column;
}

.reviwes__box__right-user {
  font-size: 1.2rem;
  font-family: "iranSans-bold", Courier, monospace;
}

.reviwes__box__right-date {
  margin-top: 1rem;
}

.reviwes__box__right-text {
  margin-top: 2rem;
  color: var(--blackPearl);
}

.reviwes__boxes-btn {
  width: 20rem;
  margin: 2rem auto;
  padding: 1rem;
  font-family: "iranSans-bold", Courier, monospace;
  background: none;
  border-radius: 1rem;
  cursor: pointer;
  color: var(--dark);
  transition: all 120ms ease-in;
}
.reviwes__boxes-btn:hover {
  background-color: var(--dodgerBlue);
  color: var(--white);
}

.reviwes__boxes-form {
  width: 100%;
}

.reviwes__boxes-form-input {
  width: 100%;
  resize: none;
  height: 20rem;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  font-family: "iranSans-bold", Courier, monospace;
}

.reviwes__boxes-form-btn {
  display: block;
  margin: 2rem auto;
  border-radius: 1rem;
  border: none;
  font-family: "iranSans-bold", Courier, monospace;
  padding: 1rem;
  width: 14rem;
  cursor: pointer;
  transition: all 120ms ease-in;
  background: none;
  border: 2px solid var(--dark);
}
.reviwes__boxes-form-btn:hover {
  background-color: var(--dodgerBlue);
  color: var(--white);
}


/* ! //////// Join Section //////// */
.join {
  margin-bottom: 10rem;
  background-color: var(--whiteSmoke);
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.join__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.join__right-title {
  font-size: 2rem;
  font-family: "iranSans-bold", Courier, monospace;
  padding-top: 2rem;
}

.join__right-text {
  font-family: "iranSans-light", Courier, monospace;
  margin-top: 1rem;
  padding-bottom: 2rem;
}
.join__left__box {
  height: 4rem;
  display: flex;
  align-items: center;
}
.join__left__box-input {
  height: 100%;
  width: 22rem;
  padding: 1rem;
  outline: none;
  font-family: "iranSans-light", Courier, monospace;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.join__left__box-btn {
  height: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}