/*! ==============================Responsive MediaQueries ================================ */

/* *  ------------------------1400px------------------------ */
@media screen and (max-width: 1400px) {
  /* ! Index Page (Latest Feauterd) */
  .tabcontent {
    flex-wrap: wrap;
  }
}

/* *  ------------------------1200px------------------------ */
@media screen and (max-width: 1200px) {
  /*! Index Page(Header) */
  .navbar__left__logo {
    flex-direction: column;
    margin-right: 0.5rem;
  }
  .header__right-input {
    width: 15rem;
  }
  .header__right__user-icon {
    margin-left: 0.5rem;
  }
  /*! Index Page(Landing) */
  .landing__right {
    margin-right: 0.5rem;
  }
  .landing__left {
    margin-left: 0.5rem;
  }
  /* ! index Page (Join) */
  .join__wrapper {
    flex-direction: column;
    text-align: center;
  }
  /* ! Index Page (Footer) */
  .footer__wrapper {
    flex-wrap: wrap;
  }
  .footer__wrapper div {
    margin: 2rem auto;
    text-align: center;
  }
  .developer {
    flex-direction: column;
    width: 14rem;
  }
}

/* *  ------------------------992px------------------------ */
@media screen and (max-width: 992px) {
  /*! Index Page (Header) */
  .header__middle {
    display: none;
    /* ! Hide Desktop Menu And Show MobileMenu */
  }
  .header__right {
    display: none;
  }
  .header__left {
    margin: 0 auto;
  }
  /*! Index Page(Landing) */
  .landing {
    height: auto;
  }
  .landing__wrapper {
    flex-direction: column;
  }

  .landing__left-title {
    flex-direction: column-reverse;
  }
  .landing__left-title,
  .landing__left-text {
    text-align: center;
  }
  .landing__left__btn {
    margin: 0 auto;
    margin-top: 2rem;
  }
  .landing__left {
    width: 100%;
  }
  .landing__left-image {
    width: 16rem;
  }
  .landing__left-shape {
    width: 14rem;
  }
  .landing__left-image,
  .landing__left-shape {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 10rem;
  }

  /* ! Index Page (Browse) */
  .browse__wrapper {
    flex-direction: column-reverse;
  }
  .browse__right {
    text-align: center;
  }
  .browse__right__btn {
    margin: 2rem auto;
  }
}

/* *  ------------------------768px------------------------ */
@media screen and (max-width: 768px) {
  /* ! Index Page(Landing) */
  .landing__left-title {
    font-size: 1.5rem;
  }
  .landing__left__btn {
    font-size: 1rem;
    width: 10rem;
  }
  .landing__left-text {
    line-height: 1.6rem;
  }
  /* ! Index Page(Feature) */
  .feature__wrapper {
    flex-direction: column;
  }
  .feature__item {
    margin-bottom: 2rem;
    width: 80%;
  }
}

/* *  ------------------------576px------------------------ */
@media screen and (max-width: 576px) {
  .landing__left-image {
    width: 14rem;
  }
  /* ! Index Page (Browse) */
  .browse__right__title {
    font-size: 1.4rem;
    flex-direction: column-reverse;
    line-height: 1.4rem;
  }
  .browse__right__btn {
    padding: 0;
    flex-direction: column;
    width: 10rem;
  }
  .browse__left-image {
    width: 15rem;
  }
  .browse__right-text {
    width: 14rem;
    margin: 1rem auto;
    line-height: 1.4rem;
  }
  /* ! Index Page (Latest Feauterd) */
  .tabs-btns {
    flex-wrap: wrap;
  }
  /* ! index Page (Join) */
  .join__left__box-input {
    width: 10rem;
  }
  .join__left__box-input::placeholder {
    font-size: 0.7rem;
  }
  .join__left__box-btn {
    width: 4.8rem;
  }
  .join__right-text {
    width: 12rem;
    text-align: center;
    margin: 1rem auto;
    line-height: 1.4rem;
  }
}
