/* * ====Color Variables==== */
:root {
  --dodgerBlue: #4078ff;
  --blackPearl: #0e1422;
  --dark: #202533;
  --greenWhite: #e9e9eb;
  --laSalleGreen: #057234;
  --chiliPepper: #be1313;
  --yellowOrange: #f3b40a;
  --white: #ffffff;
  --whiteSmoke: #f6f6f6;
  --grayCloud: #b6b7bc;
  --lightRoyalBlue: #4a3aff;
  --ultraMarineBlue:#5468ff;
  --porcelain: #eff0f6;
  --mercury: #e6e7e8;
  --softPeach: #eeeeee;
  --linkWater:#d8e4f4;
  /* !Gradient */
  --gradient-size: 100% 100%;
  --gradient-position: 100% 0;
  --gradient-color-start: #5adaff;
  --gradient-color-end: #5468ff;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

/* ! Header Section */
.header {
  height: 80px;
  background-color: var(--linkWater);
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}


.navbar__left__logo {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-family: "lamia", Courier, monospace;
  color: var(--ultraMarineBlue);
}

.navbar__left__logo-image {
  margin-left: 0.5rem;
}

.menu__list {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-around;
}

.menu__item {
  height: 80px;
}

.menu__link {
  display: flex;
  align-items: center;
  font-family: "iranSans-bold", Courier, monospace;
  color: var(--blackPearl);
  height: 100%;
  transition: all 120ms ease-in;
  color: var(--ultraMarineBlue);
  
}
.menu__link:hover{
  border-bottom: 4px solid var(--dark);
}
.menu__link-icon {
  width: 1.4rem;
  height: 1.4rem;
  transition: all 120ms ease-in;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.header__right-inputBox {
  display: flex;
  align-items: center;
  position: relative;
}
.header__right__input-icon {
  position: absolute;
  left: 4px;
  cursor: pointer;
}

.header__right-btns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}

.header__right__input-icon,
.header__right__basket-icon,
.header__right__user-icon {
  width: 2.2rem;
  height: 2.2rem;
  color: var(--ultraMarineBlue);

}
.header__right__basket-icon {
  color: var(--ultraMarineBlue);
}

/* * ==== Sub Menu Styles ==== */
.submenu {
  position: absolute;
  left: 0;
  right: 0;
  background-color: var(--white);
  display: flex;
  justify-content: space-around;
  opacity: 0;
  visibility: hidden;
  transition: all 140ms ease-in;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  z-index: 100;
}

.menu__item:hover .submenu {
  opacity: 100%;
  visibility: visible;
  transition: all 140ms ease-in;
}
.menu__item:hover .menu__link-icon {
  transform: rotate(180deg);
}

.submenu__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.submenu__col {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.submenu__col__row {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.submenu__col__row-texts {
  display: flex;
  flex-direction: column;
  font-family: "iranSans-medium", Courier, monospace;
}

.submenu__col__row-icon-svg {
  width: 5rem;
  height: 5rem;
  color: var(--dark);
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.submenu__col__row-texts-title {
  display: flex;
  align-items: center;
  font-family: "iranSans-bold", Courier, monospace;
  font-size: 1.2rem;
  color: var(--dark);
  transition: all 120ms ease-in;
}
.submenu__col__row-texts-title:hover {
  transform: scale(1.02);
}

.submenu__col__row-texts-title-icon {
  width: 1.4rem;
  height: 1.4rem;
  stroke: var(--dark);
}

.submenu__col__row-texts-text {
  margin-top: 1rem;
}
