/* * ====Color Variables==== */
:root {
  --dodgerBlue: #4078ff;
  --blackPearl: #0e1422;
  --dark: #202533;
  --greenWhite: #e9e9eb;
  --laSalleGreen: #057234;
  --chiliPepper: #be1313;
  --yellowOrange: #f3b40a;
  --white: #ffffff;
  --whiteSmoke: #f6f6f6;
  --grayCloud: #b6b7bc;
  --lightRoyalBlue: #4a3aff;
  --ultraMarineBlue:#5468ff;
  --porcelain: #eff0f6;
  --mercury: #e6e7e8;
  --softPeach: #eeeeee;
  --linkWater:#d8e4f4;
  /* !Gradient */
  --gradient-size: 100% 100%;
  --gradient-position: 100% 0;
  --gradient-color-start: #5adaff;
  --gradient-color-end: #5468ff;
}
/* ! //////// Join Section //////// */
.join {
  margin-bottom: 10rem;
  background-color: var(--linkWater);
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.join__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.join__right-title {
  font-size: 2rem;
  font-family: "iranSans-bold", Courier, monospace;
  padding-top: 2rem;
}

.join__right-text {
  font-family: "iranSans-light", Courier, monospace;
  margin-top: 1rem;
  padding-bottom: 2rem;
}
.join__left__box {
  height: 4rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.join__left__box-input {
  height: 100%;
  width: 22rem;
  padding: 1rem;
  outline: none;
  font-family: "iranSans-light", Courier, monospace;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.join__left__box-btn {
  height: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
}
