/* * ==== CSS Module Import==== */
@import "./reset.css";
@import "./fonts.css";
@import "./header.css";
@import "./footer.css";

/* * ====Color Variables==== */
:root {
  --dodgerBlue: #4078ff;
  --blackPearl: #0e1422;
  --dark: #202533;
  --greenWhite: #e9e9eb;
  --laSalleGreen: #057234;
  --chiliPepper: #be1313;
  --yellowOrange: #f3b40a;
  --white: #ffffff;
  --whiteSmoke: #f6f6f6;
  --grayCloud: #b6b7bc;
  --lightRoyalBlue: #4a3aff;
  --porcelain: #eff0f6;
  --mercury: #e6e7e8;
  --softPeach: #eeeeee;
}
.icons {
  display: none;
}
body {
  font-family: "iranSans-light", Courier, monospace;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

/* * ====Button Component==== */
.btn {
  width: 12rem;
  height: 4rem;
  border: none;
  outline: none;
  color: var(--white);
  border-radius: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  font-family: "iranSans-light", Courier, monospace;
  transition: all 120ms ease-in;
}
.btn:hover {
  background-color: var(--dodgerBlue);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.btn-black {
  background-color: var(--blackPearl);
}

.btn-dark {
  background-color: var(--dark);
}

.btn-white {
  background-color: var(--white);
  color: var(--blackPearl);
  border: 2px solid var(--grayCloud);
}
/* * ====Tag Products==== */
.tag {
  width: 6rem;
  padding: 0.5rem;
  border-radius: 1rem;
  height: 2rem;
  border: 1px solid var(--grayCloud);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.2rem;
  font-weight: bold;
}
.tag-close {
  width: 2rem;
  height: 2rem;
  transition: all 140ms ease-in;
}
.tag-close:hover {
  fill: red;
  color: red;
}
/* *==== Input Styles==== */
.input {
  display: block;
  width: 20rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid var(--grayCloud);
  outline: none;
  font-family: "iranSans-light", Courier, monospace;
  color: var(--blackPearl);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-danger {
  border: 2px solid var(--chiliPepper);
}
/* *====TextArea Styles */
.textarea {
  display: block;
  margin: 0 auto;
  margin-top: 4rem;
  width: 20rem;
  height: 10rem;
  resize: none;
  outline: none;
  border: 2px solid var(--grayCloud);
  border-radius: 0.5rem;
  padding: 1rem;
  font-family: "iranSans-light", Courier, monospace;
  color: var(--blackPearl);
}
.textarea::placeholder {
  color: var(--blackPearl);
}

.main {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.login-title {
  position: relative;
  text-align: center;
  font-family: "lamia", Courier, monospace;
  font-size: 1.6rem;
  width: 10rem;
  margin: 0 auto;
}

.login-title::before {
  position: absolute;
  content: "";
  width: 10rem;
  height: 0.1rem;
  background-color: var(--grayCloud);
  top: 1rem;
  left: 8rem;
}
.login-title::after {
  position: absolute;
  content: "";
  width: 10rem;
  height: 0.1rem;
  background-color: var(--grayCloud);
  top: 1rem;
  left: -8rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
}
.login-form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin: 1rem auto;
}
label {
  font-size: 1rem;
  font-family: "iranSans-bold", Courier, monospace;
  margin-bottom: 0.5rem;
}
.login-form div input {
  width: 20rem;
  padding: 1rem;
  border-radius: 0.5em;
  outline: none;
  border: 1px solid var(--grayCloud);
  font-family: "iranSans-light", Courier, monospace;
}
.login-form__text {
  display: flex;
  align-items: center;
  text-align: center;
  width: 25rem;
  margin: 1rem auto;
  line-height: 1.4rem;
}

.login-form__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14rem;
  margin: 1rem auto;
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  font-family: "iranSans-bold", Courier, monospace;
  background-color: var(--blackPearl);
  color: var(--white);
  cursor: pointer;
  gap: 1rem;
}
.login-form__btn-icon {
  width: 2rem;
  height: 2rem;
}

.login-form__login {
  margin: 1rem auto;
}
.login-form__signup-link {
  font-family: "iranSans-bold", Courier, monospace;
  color: var(--blackPearl);
}
