/*! ==============================Responsive MediaQueries ================================ */
/* * ====Color Variables==== */
:root {
  --dodgerBlue: #4078ff;
  --blackPearl: #0e1422;
  --dark: #202533;
  --greenWhite: #e9e9eb;
  --laSalleGreen: #057234;
  --chiliPepper: #be1313;
  --yellowOrange: #f3b40a;
  --white: #ffffff;
  --whiteSmoke: #f6f6f6;
  --grayCloud: #b6b7bc;
  --lightRoyalBlue: #4a3aff;
  --porcelain: #eff0f6;
  --mercury: #e6e7e8;
  --softPeach: #eeeeee;
}
/* *  ------------------------1400px------------------------ */
@media screen and (max-width: 1400px) {
  /* ! Index Page (Latest Feauterd) */
  .tabcontent {
    flex-wrap: wrap;
  }
  /* ! Product Page (Product) */
  .product__wrapper {
    flex-direction: column;
    gap: 4rem;
  }
  .product__right {
    width: 100%;
  }
  .product__left {
    width: 80%;
  }
  .product__left__size-box {
    flex-wrap: wrap;
  }
}

/* *  ------------------------1200px------------------------ */
@media screen and (max-width: 1200px) {
  /*! Index Page(Header) */
  .navbar__left__logo {
    flex-direction: column;
    margin-right: 0.5rem;
  }
  .header__right-input {
    width: 15rem;
  }
  .header__right__user-icon {
    margin-left: 0.5rem;
  }
  /*! Index Page(Landing) */
  .landing__right {
    margin-right: 0.5rem;
  }
  .landing__left {
    margin-left: 0.5rem;
  }
  /* ! index Page (Join) */
  .join__wrapper {
    flex-direction: column;
    text-align: center;
  }
  /* ! Index Page (Footer) */
  .footer__wrapper {
    flex-wrap: wrap;
  }
  .footer__wrapper div {
    margin: 2rem auto;
    text-align: center;
  }
  .developer {
    flex-direction: column;
    width: 14rem;
  }

  /* ! Store Page (Shop) */
  .main-content {
    flex-direction: column;
  }
  .side-menu {
    width: 80%;
    margin: 1rem auto;
  }
  .side-menu__item {
    text-align: center;
  }
  .shop {
    width: 80%;
    margin: 0 auto;
    border-right: none;
    border-top: 2px solid var(--blackPearl);
  }
  .side-menu__title {
    display: block;
    text-align: center;
  }
  .side-menu__show {
    width: 60%;
    margin: 2rem auto;
    text-align: center;
  }
  /* ! Cart Page (Cart) */
  .cart__wrapper {
    flex-direction: column-reverse;
  }
  .cart__left {
    width: 80%;
    margin: 0 auto;
  }
  .cart__right {
    width: 80%;
    margin: 4rem auto;
  }
  .cart__right-title {
    text-align: center;
  }
  /* ! Checkout Page (Checkout) */
  .checkout__wrapper {
    flex-direction: column;
  }
  .checkout__right {
    width: 80%;
    margin: 0 auto;
  }
  .checkout__left {
    width: 80%;
    margin: 2rem auto;
  }
  .checkout-title {
    margin-right: 1rem;
  }
  /*! Payment Page(Payment) */
  .payment__wrapper {
    flex-direction: column;
  }
  .payment-right,
  .payment-left,
  .header {
    margin: 2rem auto;
    width: 80%;
  }
  .payment-left {
    text-align: center;
  }
  /*! User Account Orders (Main) */
  .account__wrapper {
    flex-direction: column;
  }
  .account-menu {
    display: block;
    width: 80%;
    margin: 1rem auto;
  }
  .account-menu__list {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    /* width: 100%; */
  }
  .account-menu__link {
    flex-direction: column;
  }
  .account-main {
    width: 80%;
    margin: 1rem auto;
  }
  .account-main-title {
    text-align: center;
  }
  /*! User Account WishList (Main) */
  .wishlist {
    width: 80%;
    margin: 2rem auto;
  }
  /*! User Account Address (Main) */
  .address {
    width: 80%;
    margin: 2rem auto;
  }

  /*! Account Details (Main) */
  .account-details {
    width: 80%;
    margin: 2rem auto;
  }
}

/* *  ------------------------992px------------------------ */
@media screen and (max-width: 992px) {
  /*! Index Page (Header) */
  .header__middle {
    display: none;
    /* ! Hide Desktop Menu And Show MobileMenu */
  }
  .header__right {
    display: none;
  }
  .header__left {
    margin: 0 auto;
  }
  /*! Index Page(Landing) */
  .landing {
    height: auto;
  }
  .landing__wrapper {
    flex-direction: column;
  }

  .landing__left-title {
    flex-direction: column-reverse;
  }
  .landing__left-title,
  .landing__left-text {
    text-align: center;
  }
  .landing__left__btn {
    margin: 0 auto;
    margin-top: 2rem;
  }
  .landing__left {
    width: 100%;
  }
  .landing__left-image {
    width: 16rem;
  }
  .landing__left-shape {
    width: 14rem;
  }
  .landing__left-image,
  .landing__left-shape {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 10rem;
  }

  /* ! Index Page (Browse) */
  .browse__wrapper {
    flex-direction: column-reverse;
  }
  .browse__right {
    text-align: center;
  }
  .browse__right__btn {
    margin: 2rem auto;
  }
  /* ! Product Page (Detail-Reviwes) */
  .detail-reviews__wrapper {
    flex-direction: column-reverse;
  }
  .detail-reviews__left {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
  }
  .tab {
    width: 100%;
  }
  .tablinks {
    width: 80%;
    margin: 0 auto;
    border-radius: 1rem;
  }
  /* ! Cart Page (Cart) */
  .cart__right__wrapper {
    padding: 1rem;
  }
  .cart__item__right {
    flex-direction: column;
  }
  .cart__item {
    flex-direction: column;
  }
  .cart__item__left {
    margin-top: 2rem;
  }
  /*! User Account Orders (Main) */
  .account-main__product__left {
    flex-direction: column;
    gap: 1rem;
  }
  /*! User Account WishList (Main) */
  .wishlist-product__right {
    flex-direction: column;
  }
}

/* *  ------------------------768px------------------------ */
@media screen and (max-width: 768px) {
  /* ! Index Page(Landing) */
  .landing__left-title {
    font-size: 1.5rem;
  }
  .landing__left__btn {
    font-size: 1rem;
    width: 10rem;
    padding: 0.4rem;
    flex-direction: column;
  }
  .landing__left-text {
    line-height: 1.6rem;
  }
  /* ! Index Page(Feature) */
  .feature__wrapper {
    flex-direction: column;
  }
  .feature__item {
    margin-bottom: 2rem;
    width: 80%;
  }

  /* ! Product Page (Product) */
  .product__left__title {
    font-size: 1.4rem;
  }
  /* ! Checkout Page (Checkout) */
  .checkout__right-row1 {
    flex-wrap: wrap;
  }
  /*! User Account WishList (Main) */
  .wishlist-product {
    flex-direction: column;
    gap: 2rem;
  }
  /*! User Account Address (Main) */
  .address__form__row2,
  .address__form__row3 {
    flex-direction: column;
  }
  .address__title {
    text-align: center;
  }
  /*! Account Details (Main) */
  .account-details__form__row1,
  .account-details__form__row2 {
    flex-direction: column;
  }
  .account-details__title {
    text-align: center;
  }
}

/* *  ------------------------576px------------------------ */
@media screen and (max-width: 576px) {
  .landing__left-image {
    width: 14rem;
  }
  /* ! Index Page (Browse) */
  .browse__right__title {
    font-size: 1.4rem;
    flex-direction: column-reverse;
    line-height: 1.4rem;
  }
  .browse__right__btn {
    padding: 0;
    flex-direction: column;
    width: 10rem;
  }
  .browse__left-image {
    width: 15rem;
  }
  .browse__right-text {
    width: 14rem;
    margin: 1rem auto;
    line-height: 1.4rem;
  }
  /* ! Index Page (Latest Feauterd) */
  .tabs-btns {
    flex-wrap: wrap;
  }
  /* ! index Page (Join) */
  .join__left__box-input {
    width: 10rem;
  }
  .join__left__box-input::placeholder {
    font-size: 0.7rem;
  }
  .join__left__box-btn {
    width: 4.8rem;
  }
  .join__right-text {
    width: 12rem;
    text-align: center;
    margin: 1rem auto;
    line-height: 1.4rem;
  }
  /* ! Product Page (Detail-Reviwes) */
  .reviwes__boxes-btn {
    width: 14rem;
  }
  /* ! Store Page (Shop) */
  .pagination__list {
    flex-wrap: wrap;
  }
  /* ! Cart Page (Cart) */
  .cart__item__left {
    flex-direction: column;
    margin: 2rem auto;
  }
  .cart__item__left-price,
  .cart__item__left-counter {
    margin: 1rem auto;
  }
  /* ! Checkout Page (Checkout) */
  .checkout__left__editcart {
    flex-direction: column;
  }
  .checkout__left__info {
    flex-direction: column;
    text-align: center;
    gap: 1.4rem;
  }
  /*! Payment Page(Payment) */
  .payment-right__expire-date-inputs,
  .payment-right___security-box {
    flex-direction: column;
  }
  .payment-right___security-box-input {
    width: 50%;
    margin: 1rem auto;
    padding: 1rem;
  }
  .payment-right___security-box-code {
    width: 10rem;
    margin: 0 auto;
  }
  .header-title {
    flex-direction: column;
  }
  /* ! After Payment Page (Main) */
  .main-image {
    width: 7rem;
    height: 7rem;
  }
  .main-title {
    font-size: 1.4rem;
  }
  .main-text {
    font-size: 1rem;
  }
  /* ! Sign Up Page (Main) */
  .signup-form__text {
    width: auto;
    margin: 1rem 1rem;
  }
  .signup-title::before {
    width: 4rem;
  }

  .signup-title::after {
    width: 4rem;
    left: -2rem;
  }
  /* ! Login  Page (Main) */
  .login-form__text {
    width: auto;
    margin: 1rem 1rem;
  }
  .login-title::before {
    width: 4rem;
  }

  .login-title::after {
    width: 4rem;
    left: -2rem;
  }
  /*! User Account Orders (Main) */
  .account-main__product {
    flex-direction: column;
    gap: 2rem;
  }
  .account-main-title {
    margin-bottom: 2rem;
  }
  .account-main__product__right__details {
    text-align: center;
  }
  .account-main__product__right {
    flex-direction: column;
  }
  /*! User Account WishList (Main) */
  .wishlist-product__left {
    flex-direction: column;
    gap: 1rem;
  }
  .wishlist-title {
    text-align: center;
  }
  /*! User Account Address (Main) */
  .address__list__item {
    flex-direction: column-reverse;
    gap: 1rem;
    text-align: center;
  }
  /*! Account Details (Main) */
  .account-details__form div div input{
    width: 16rem;
  }
}
