/* * ==== CSS Module Import==== */
@import "./reset.css";
@import "./fonts.css";
@import "./header.css";
@import "./footer.css";
@import "./breadcrumb.css";
@import "./join.css";

/* * ====Color Variables==== */
:root {
  --dodgerBlue: #4078ff;
  --blackPearl: #0e1422;
  --dark: #202533;
  --greenWhite: #e9e9eb;
  --laSalleGreen: #057234;
  --chiliPepper: #be1313;
  --yellowOrange: #f3b40a;
  --white: #ffffff;
  --whiteSmoke: #f6f6f6;
  --grayCloud: #b6b7bc;
  --lightRoyalBlue: #4a3aff;
  --porcelain: #eff0f6;
  --mercury: #e6e7e8;
  --softPeach: #eeeeee;
}
.icons {
  display: none;
}
body {
  font-family: "iranSans-light", Courier, monospace;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
/* * ====Button Component==== */
.btn {
  width: 12rem;
  height: 4rem;
  border: none;
  outline: none;
  color: var(--white);
  border-radius: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  font-family: "iranSans-light", Courier, monospace;
  transition: all 120ms ease-in;
}
.btn:hover {
  background-color: var(--dodgerBlue);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.btn-black {
  background-color: var(--blackPearl);
}

.btn-dark {
  background-color: var(--dark);
}

.btn-white {
  background-color: var(--white);
  color: var(--blackPearl);
  border: 2px solid var(--grayCloud);
}
/* * ====Tag Products==== */
.tag {
  width: 6rem;
  padding: 0.5rem;
  border-radius: 1rem;
  height: 2rem;
  border: 1px solid var(--grayCloud);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.2rem;
  font-weight: bold;
}
.tag-close {
  width: 2rem;
  height: 2rem;
  transition: all 140ms ease-in;
}
.tag-close:hover {
  fill: red;
  color: red;
}
/* *==== Input Styles==== */
.input {
  display: block;
  width: 20rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid var(--grayCloud);
  outline: none;
  font-family: "iranSans-light", Courier, monospace;
  color: var(--blackPearl);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.input-danger {
  border: 2px solid var(--chiliPepper);
}
/* *====TextArea Styles */
.textarea {
  display: block;
  margin: 0 auto;
  margin-top: 4rem;
  width: 20rem;
  height: 10rem;
  resize: none;
  outline: none;
  border: 2px solid var(--grayCloud);
  border-radius: 0.5rem;
  padding: 1rem;
  font-family: "iranSans-light", Courier, monospace;
  color: var(--blackPearl);
}
.textarea::placeholder {
  color: var(--blackPearl);
}

/* * ////////////////// Main Section ////////////////// */
/* ! //////// Main Content Section //////// */

.main-content {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 4rem;
}

/* ! //////// Aside Menu Section //////// */
.side-menu {
  width: 20%;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 4rem;
  height: 50rem;
  width: 25%;
}

.side-menu__title {
  font-size: 1.6rem;
  font-family: "lamia", Courier, monospace;
}

.side-menu__list {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.side-menu__item {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  font-family: "iranSans-bold", Courier, monospace;
  padding-bottom: 0.5rem;
  border-bottom: 10px solid;
  border-image-source: url("../svg/waveBorder.svg");
  border-image-slice: 30;
}

.side-menu__item-label {
  font-size: 1.2rem;
}
.side-menu__item-checkbox {
  margin-right: 0.5rem;
}

input[type="checkbox"] {
  width: 1.2rem;
  height: 1.2rem;
  accent-color: var(--blackPearl);
  border: 1px solid var(--blackPearl);
}

/* ! Category Show Number */
.side-menu__show {
  display: flex;
  flex-direction: column;
  font-family: "iranSans-bold", Courier, monospace;
  margin-top: 2rem;
}

.side-menu__show-input {
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 0.5rem;
  font-family: "iranSans-bold", Courier, monospace;
  font-size: 1.2rem;
}

/* ! Color Box */
.side-menu__colorBox {
  margin-top: 2rem;
}

.side-menu__colorBox-title {
  font-size: 1.6rem;
  font-family: "lamia", Courier, monospace;
}

.side-menu__colorBox__colors {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.side-menu__colorBox__color {
  width: 2rem;
  height: 2rem;
  background-color: red;
  border-radius: 50%;
  margin-top: 1rem;
}

/* ! Category Size */
.side-menu__sizes {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.side-menu__sizes-title {
  font-size: 1.6rem;
  font-family: "lamia", Courier, monospace;
}

.side-menu__sizes__boxes {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.5rem;
  margin-top: 1rem;
}

.side-menu__sizes__box {
  border: 1px solid var(--dark);
  padding: 0.5rem;
  cursor: pointer;
  transition: all 120ms ease-in;
}
.side-menu__sizes__box:hover {
  font-weight: bold;
}

/* ! Category Price */
.side-menu__price {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.side-menu__price-title {
  font-size: 1.6rem;
  font-family: "lamia", Courier, monospace;
}

.side-menu__price-input {
  margin-top: 1rem;
}

.side-menu__price-input {
  appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 1rem;
}
.side-menu__price-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: var(--blackPearl);
  cursor: pointer;
  border-radius: 50%;
}

/* ! //////// Shop Section //////// */

.shop {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
  /* border-right: 2px solid var(--blackPearl); */
  padding: 1rem;
  width: 75%;
}
/* ! Shop Filter */
.shop__filters {
  /* border-bottom: 2px solid var(--blackPearl); */
  padding-bottom: 1rem;
  border-bottom: 10px solid;
  border-image-source: url("../svg/waveBorder.svg");
  border-image-slice: 30;
}

.shop__filters-title {
  font-family: "lamia", Courier, monospace;
  font-size: 1.6rem;
  width: 100%;
  text-align: right;
}

.shop__filters__box {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.shop__filter {
  display: flex;
  align-items: center;
  border: 2px solid var(--blackPearl);
  border-radius: 1rem;
  padding: 0.5rem;
  font-family: "iranSans-bold", Courier, monospace;
}

.shop__filter-icon {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

/* ! Shop Products Section */
.shop-products__wrapper {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 10px solid;
  border-image-source: url("../svg/waveBorder.svg");
  border-image-slice: 30;
}
.shop-product {
  width: 256px;
  /* height: 434px; */
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  transition: all 120ms ease-in;
  padding: 0.5rem;
}
.shop-product:hover {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.shop-product__top {
  height: 70%;
  background-color: var(--whiteSmoke);
}
.shop-product-image {
  width: 100%;
}
.shop-product__bottom {
  height: 30%;
}
.shop-product__bottom-title {
  display: block;
  font-family: "iranSans-light", Courier, monospace;
  margin-top: 2rem;
  text-align: right;
}

.shop-product__bottom__link {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  font-family: "iranSans-bold", Courier, monospace;
  color: var(--blackPearl);
}
.shop-product__bottom__link:hover .shop-product__bottom__link-icon {
  transform: scale(1.2);
}

.shop-product__bottom__link-icon {
  width: 1.4rem;
  height: 1.4rem;
  fill: var(--blackPearl);
  margin-right: 1rem;
  transition: all 120ms ease-in;
}

.shop-product__bottom__infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.shop-product__bottom__infos-price {
  font-family: "iranSans-bold", Courier, monospace;
}
.shop-product__bottom__infos-stock {
  border-radius: 1rem;
  border: 2px solid var(--whiteSmoke);
  padding: 0.5rem 1rem;
  font-family: "iranSans-bold", Courier, monospace;
}

.shop-product__btn {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-family: "iranSans-bold", Courier, monospace;
  padding: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 120ms ease-in;
}
.shop-product__btn:hover {
  background-color: var(--blackPearl);
  color: var(--white);
}

.shop-product__btn-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

/* ! //////// Pagination Section //////// */

.pagination {
  margin-top: 4rem;
  border: 1px solid var(--blackPearl);
  border-radius: 1rem;
  padding: 0.5rem;
}

.pagination__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.pagination__item {
  height: 2rem;
  padding: 0.5rem;
  width: 100%;
  border-radius: 1rem;
}

.pagination__item__link {
  color: var(--blackPearl);
  font-family: "iranSans-bold", Courier, monospace;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination__item__link-icon {
  width: 2rem;
  height: 2rem;
  color: var(--blackPearl);
}

.pagination--active {
  background-color: var(--whiteSmoke);
}
